<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
 <!--TestData-->
 <add key="DateFormat1" value="yyyy-MM-dd" />
 <add key="DateFormat2" value="MM-dd-yyyy" />
 <add key="DateFormat3" value="dd-MM-yyyy" />
 <!--TestData-->
	
<!--URL Types-->
 <add key="AdminUrl" value="https://uat-revamp.futuready.com" />
 <add key="LandingUrl" value="https://dev-friends.th.futuready.com/en/login?method=user" />
 <add key="TrialBaseUrl" value="https://mail.google.com/" />
 <add key="LinkAjaMotorcycleURL" value="https://linkaja.futuready.com/motorcycle" />
 <add key="LinkAjaGadgeteURL" value="https://uat-linkaja.futuready.com/gadget" />
 <add key="HCPCampaignURL" value="https://sit-campaign.futuready.com/covid19-insurance/" />
<!--URL Types-->

 <add key="LocalAgentTestDrop" value="E:\Futuready\Futuready_Automation\TestData" />
 <!--<add key="LocalAgentTestDrop" value="C:\Users\kalana.herath\Documents\Dolphin\Automation\Orca.Web.Automation.Test\TestData\" />-->
	
<!--User Roles-->
 <add key="AdminUser" value="demouser" />
 <add key="ManagerUser" value="demouser" />
 <add key="AppUser" value="demouser" />
 <add key="EmailUser" value="futureadyautomation" />	
<!--User Roles-->

<!--UserRole Passwords-->
 <add key="AdminUserPwd" value="demoUser1" />
 <add key="ManagerUserPwd" value="demoUser1" />
 <add key="AppUserPwd" value="demoUser1" />
 <add key="EmailUserPwd" value="Apple@123" />
<!--UserRole Passwords-->

 <add key="TimeOutValue" value="30000" />
 <add key="LoginTimeOutValue" value="30000" />
 <add key="Playbackwait_time" value="100" />
 <add key="Selenium.ChromeDriverPath" value="E:\Futuready\Futuready_Automation\bin\Debug" />
 <add key="browserName" value="Chrome" />
</appSettings>
	
</configuration>
